html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #253237;
}

.app {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.background-svg {
  position: fixed;
  z-index: 0;
  bottom: 20%;
  right: 10%;
}

/* variables  */
:root {
  --main-bg-color: #253237;
  --secondary-color: #2b9348;
  --white: #e9ecef;
}
/* variables end */

/* modal styling begin */
#exit-icon {
  color: var(--white);
  font-size: 3rem;
  position: fixed;
  top: 20%;
  right: 15%;
}

#exit-icon:hover {
  color: var(--main-bg-color);
  cursor: pointer;
}

#icon-btn {
  background: transparent;
  border: none;
}

.background-svg {
  positon: fixed;
  left: 60%;
}

@media screen and (max-width: 992px) {
  .background-svg {
    display: none;
  }
}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content-wrapper {
  position: fixed;
  width: 80vw;
  height: 60vh;
  background: var(--secondary-color);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 60px;
  color: var(--main-bg-color);
  overflow-y: scroll;
}

.modal-post-title {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 900;
}

#catchphrase {
  padding: 0;
  margin: 0;
}

#name {
  display: flex;
  flex-direction: row;
}

#name > span {
  padding-right: 0.3rem;
  padding-top: 0.09em;
}

/* three modal screen sizes */

@media screen and (min-width: 992px) {
  .modal-content-wrapper {
    width: 40vw;
    height: 60vh;
    background: var(--secondary-color);
  }

  .post-body {
    font-size: 1.7rem;
  }

  #name > span {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 768px) {
  .modal-content-wrapper {
    width: 60vw;
    height: 50vh;
  }

  #name > span {
    font-size: 0.7em;
  }

  .post-body {
    font-size: 1.7rem;
  }

  #exit-icon {
    top: 30%;
    right: 23%;
  }
}

@media screen and (min-width: 568px) {
  #name > span {
    font-size: 0.7em;
    position: static;
    padding: 0;
  }

  .post-body {
    font-size: 1.7rem;
  }

  #exit-icon {
    top: 20%;
    right: 15%;
  }
}

/* modal styling end */

/* Post title list begin */
.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-title {
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.post-title:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.posts {
  width: 35vw;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.post-titles {
  color: var(--secondary-color);
  border-bottom: var(--white) solid 2px;
  margin-bottom: 3rem;
}

/* Post title list end */

/* Pagination styling begin */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

.pagination:before {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

.num-list {
  font-size: 1.4rem;
  padding-top: 10px;
  color: var(--white);
}

.num-list > a {
  padding: 10px;
}

.num-list:last-child {
  margin-bottom: 20px;
}

.num-list:hover {
  transform: translateY(-3px);
  cursor: pointer;
  color: var(--secondary-color);
}

.num-list:focus {
  transform: translateY(-3px);
}

.side {
  width: 40px;
  position: fixed;
  bottom: 0;
}

/* Pagination styling end */
